@import './partials/variables';
@import './partials/header';
@import './partials/search';
@import './partials/masonry';
@import './partials/footer';
@import './partials/modal';
@import './partials/animations';
@import './partials/media-query768';
@import './partials/media-query-mobile';

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: $secondary-font;
}

.noscroll {
  overflow: hidden;
}

.hide {
  display: none;
}