@import 'variables';
@import 'header';
@import 'search';
@import 'masonry';
@import 'footer';
@import 'modal';
@import 'animations';
@import 'media-query768';
@import 'media-query-mobile';

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: $secondary-font;
}

.noscroll {
  overflow: hidden;
}

.hide {
  display: none;
}